code{
                list-style-type: decimal;
                width: 100%;
                display: block;
                float: left;                 
                border-bottom: 1px solid #0000aa;
                margin: 10px 0;
background: none;
}
#view-top, #wrapper, #wrapper-header,.sequence-nav-button{z-index:100 !important; }             
.ui-button-icon-primary, .ui-icon, .ui-icon-closethick{margin:-8px !important;}
#playercontent{z-index:1000;}
             pre{
                 font-size: x-large;
                 overflow: auto;
                 height: 500px;
                 display: block;
             }
             .modifing{
                 background-color: red;
             }
#playercontentheader {
text-align: center;
}