<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.todo" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo" >
        <service
            android:name=".ToDoWallpaper"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_WALLPAPER" >
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/todowallpaper" />
        </service>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddNewActivity"
            android:label="@string/title_activity_add_new" >
        </activity>
        <activity
            android:name=".DetailsActivity"
            android:label="@string/title_activity_details" >
        </activity>

        <receiver android:name=".ToDoWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/to_do_widget_info" />
        </receiver>

        <activity android:name=".ToDoWidgetConfigureActivity" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".ToDoReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.example.todo.ADD_NEW_TODO" >
                </action>
            </intent-filter>
        </receiver>

        <service
            android:name=".service.ToDoServiceStarted"
            android:enabled="true"
            android:exported="false" >
        </service>
        <service
            android:name=".service.ToDoServiceIntent"
            android:exported="false" >
        </service>
        <service
            android:name=".service.ToDoServiceBound"
            android:enabled="true"
            android:exported="false" >
        </service>
    </application>

</manifest>
