html{
    font-size: xx-small;
}

.pack-switch{float: right}
progress {display: none;}

 section a {
        box-sizing: content-box;
        display: inline-block;
        color: #222;
        width: 3rem;
        height: 3rem;
        text-decoration: none;
        text-align: center;
        margin: -1px;
        line-height: 1;
      }